body {
    margin: 0;
    padding: 0;
}

ol,
ul{
    list-style: none; /* Eliminar punto o decoracion */
}

a {
    text-decoration: none; /* Eliminar que se muestre com esa linea de hipervinculo */
}

header {
    background-color: rgb(78, 83, 83);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 1.2em;
    padding: 20px;
}

header nav ul a{
    color: white;
}

.tamano{
    width: 150px;
    height: 100px;
   
}

.margen{
    padding: 0.5em;
}